div.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

div.root>header {
  display: flex;
  height: 10%;
  align-items: center;
  flex-direction: row-reverse;
}

#root>div>div>section {
  height: 50vh;
  width: 80vw;
  background-color: yellow;
}

#root>div>div>aside{
  height: 50vh;
  width: 20vw;
  background-color: blueviolet;
}
div.root>nav {
  display: flex;
  
}

div.root>div{
  display: flex;
  flex-direction: row;;
}

div.root>footer {
  height: 20%;
  background-color: violet;
}