div.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

div.root * {
  border: 1px solid #000;
  margin: 3px;
}

div.root>header {
  height: 20%;
  background-color: tan;
}

#root>div>div>section {
  height: 50vh;
  width: 80vw;
  background-color: yellow;
}
#root>div>div>aside{
  height: 50vh;
  width: 20vw;
  background-color: blueviolet;
}
div.root>nav {
  height: 10%;
  background-color: tomato;
}

div.root>div{
  display: flex;
  flex-direction: row;;
}

div.root>footer {
  height: 20%;
  background-color: violet;
}