body{
    margin:  5px;
    border-color: chartreuse;
    background-color: yellow;
}

.button{
    background-color: wheat;
    border-radius: 5px;
}

.div{
    border-color: white;
    margin: 5px;
}
span{
    background-color: lightgray;
}